<!doctype html>
<html>
<head>
  <title>Zombie Game 2.1</title>
  <link href="../css/game.css" rel="stylesheet" type="text/css"></link>
  <script src="../js/game-core.js" rel="javascript" type="text/javascript"></script>
  <script src="../js/zombie-component.js" rel="javascript" type="text/javascript"></script>
  <script src="../js/player-component.js" rel="javascript" type="text/javascript"></script>
  <script src="../js/keyboard-controls.js" rel="javascript" type="text/javascript"></script>
  <script src="../js/bonus-component.js" rel="javascript" type="text/javascript"></script>
  <script src="../js/user-info.js" rel="javascript" type="text/javascript"></script>
</head>
<body onload="startGame()">
  <h2 id="highScore"></h2>
  <h2 id="score"></h2>
  <h2 id="health"></h2>
</body>
</html>
